.home{
    background: white;
        display: flex;
        height: 100vh;
        justify-content: center;
        
}

.home h4{
font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
   
    color: #18172B;
    margin-top: -10px;
    margin-bottom: 5px;

}

.home p{
    font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        
        color: #6E80B0;
        margin-bottom: 0px;
}