.title {
    padding: auto;
}

.title h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #F1CD31;
    margin-left: -30px;

}

.title button {
    width: 48px;
    height: 48px;

}

.title h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    color: #18172B;
    margin-top: -10px;
    margin-bottom: 5px;

}

.title p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    color: #6E80B0;
    margin-bottom: 0px;
}

.popularRecipe {
    border-color: black;
    border-style: solid;
    border-width: 0.5px;
    height: 80px;
    width: 80px;
    border-radius: 15px;
}