/* profile upper */
.profileUpper{
background: #EEC302;
display: flex;
height: 43vh;
align-items: center;
justify-content: center;
flex-direction: column;
}

.profileUpper h3{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.card{
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.navbar {
    padding-left: 35px;
    padding-right: 35px;
}


/* profile lower */
.profileLower{
 background: white;

}

.container {
   position: absolute;
}

.cardMenu{
    position:relative;
    margin-top: -40px;
    z-index: 2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-style: hidden;
    box-shadow: 1px 4px 14px -3px rgba(0, 0, 0, 0.68);
    min-height: 60vh;
    
}

.editMenu{
   display: flex;
   align-content: center;
   justify-content: space-between;
   margin-bottom: 25px; 
}

.editMenu h6{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 3px;
    margin-left: -50vw;
}

.editMenu span{
    width: 20px;
    height: 20px;
    margin-left: 5vw;
    color: #EEC302;
}

.editMenu a{
    width: 20px;
    height: 20px;
    margin-right: 5vw;
    color: rgba(0, 0, 0, 0.7);
}



