.title {
    padding: auto;
}

.title h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #F1CD31;
    margin-left: -30px;

}

.title button {
    width: 48px;
    height: 48px;

}